/**
 * @author Jason Mulligan <jason.mulligan@avoidwork.com>
 */

@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

html,
body {
	min-height: 100%;
}

body {
	background: #e5e5e5;
	font: 16px Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

p {
	clear: both;
	margin: 0 0 1em 0;
}

ul.pills li,
a {
	transition: all 0.5s ease;
}

header {
	background: #fff;
	padding: 10px;
	text-align: center;

	h1 {
		clear: both;
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

nav,
section.copy,
section.marketing {
	background: #f5f5f5;
}

nav {
	clear: both;
	text-align: center;
	border-bottom: 1px solid #ccc;

	ul {
		margin: 0 auto 0 auto;
		display: inline-block;
	}
}

header div.container,
article {
	margin: 0 auto 0 auto;
	width: 1120px;
}

header {
	h1 {
		font-weight: normal;
	}
}

footer {
	margin: 3em 0 3em 0;
	text-align: center;
	width: 100%;
	clear: both;

	a {
		text-decoration: underline;
	}
}

a {
	color: #000;
	text-decoration: none;
}

article {
	padding: 10px;
}

h1, h2, h3, h4 {
	margin: 0 0 0.5em 0;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.3em;
}

h4 {
	font-size: 1.1em;
}

ul.pills {
	padding: 0 0 0 0;

	li {
		display: inline-block;
		color: #fff;
		padding: 10px;
		cursor: pointer;
		border-bottom: 2px solid #f5f5f5;

		&.active {
			border-bottom: 2px solid #ccc;
		}

		&:hover {
			border-bottom: 2px solid #1BC322;

			a {
				color: #000;
			}
		}

		a {
			color: #9C9C9C;
		}
	}
}

ul.thirds {
	display: block;
	margin: 2em 0 0 0;
	padding: 0 0 0 0;

	li {
		display: inline-block;
		width: 30%;
		margin-right: 3%;
		vertical-align: text-top;

		&:last-child {
			margin-right: 0%;
		}
	}
}

section.copy,
section.marketing {
	padding: 20px;
	border: 1px solid #ccc;
	background: #fff;
	line-height: 1.6em;
	overflow: auto;
}

section.copy {
	margin-bottom: 10px;
	min-height: 150px;
}

section.copy a,
section.marketing a {
	color: #C51414;

	&:hover {
		color: #777;
	}
}

#search img,
#news img,
#toolbar img,
#groups img,
#images img,
#product-search img,
#lucky img,
#features img {
	width: 400px;
	margin-left: 20px;
}

.hidden {
	display: none;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.border {
	border: 1px solid #ccc;
}

.github {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
}

.gist {
	font-size: 12px;
	line-height: 1.3em;
	margin-bottom: 2em;
}

@media print, screen and (max-width: 1150px) {
	header div.container,
	article {
		margin: 0 auto 0 auto;
		width: 900px;
	}

	#search img,
	#news img,
	#toolbar img,
	#groups img,
	#images img,
	#product-search img,
	#lucky img,
	#features img {
		width: 300px;
	}
}

@media print, screen and (max-width: 950px) {
	header div.container,
	article {
		margin: 0 auto 0 auto;
		width: 700px;
	}

	section.copy h2 {
		margin-bottom: 20px;
	}
}

@media print, screen and (max-width: 740px) {
	header div.container,
	article {
		margin: 0 auto 0 auto;
		width: 600px;
	}

	section.copy h2 {
		margin-bottom: 20px;
	}
}

@media print, screen and (max-width: 640px) {
	header div.container,
	article {
		margin: 0 auto 0 auto;
		width: 400px;
	}

	header img {
		clear: both;
		margin-bottom: 20px;
	}

	#search img,
	#news img,
	#toolbar img,
	#groups img,
	#images img,
	#product-search img,
	#lucky img,
	#features img {
		float: none;
		margin: 30px 0 30px 0;
	}

	footer {
		position: relative;
		margin: 30px 0 30px 0;
	}
}